@font-face {
  font-family: emoji;

  src: local('Apple Color Emoji'),
       local('Android Emoji'),
       local('Segoe UI'),
       local('EmojiOne Mozilla'),
       local(EmojiSymbols),
       local(Symbola);

  /* Emoji unicode blocks */
  unicode-range: U+1F300-1F5FF, U+1F600-1F64F, U+1F680-1F6FF, U+2600-26FF;
}

/* Container */
.🎁 {
  font-family: emoji, Helvetica, Arial, sans-serif;
  margin: 0;
  background-color: #333;
}

/* Header */
.👒 {
  background-color: #222;
  color: white;
}
.👒 h1 {
  margin: 0;
  padding: 20px;
}

/* Body */
.👗 {
  padding: 10px;
  background-color: #fefefe;
  min-height: 60vh;
}

/* Footer */
.👠 {
  padding: 20px;
  background-color: #333;
  color: #999;
}

/* Helper classes */
.🙈 {
  display: none;
}
.🔗 {
  text-decoration: none;
  color: cyan;
}
